apiVersion: v1
kind: Service
metadata:
  name: java-app-service
  namespace: apps
spec:
  type: NodePort
  selector:
    app: java-app
  ports:
    - protocol: TCP
      port: 8080        # внутренний порт в кластере
      targetPort: 8080 # из контейнера
      nodePort: 30081  # внешний порт

